*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: aquamarine;
    padding: 20px 20px;
    border: none;
    width: fit-content;
    box-shadow: 10px 10px 50px;
    position: relative;
    z-index: 89;
}

img{
    width: 50px;
    position: absolute;
}